.hero {
    min-height: 740px;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    h1 {
        padding-top: 220px;
        background: -webkit-linear-gradient(#fccd00, #9b4900, #faf710);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
    }
    p {
        span {
            display: block;
            font-weight: bold;
            color: #cfcece;
        }
    }
}