// Fonts
$main-font: 'Poppins', sans-serif;

// General Colors
$bg-color: #131b1f;
$footer-bg-color: #151515;
$footer-color: #919191;


// Colors text
$yellow-header: #c88500;
$grey-text: #cfcece;

// Colors button
$yellow-btn-start: #eec214;
$yellow-btn-end: #f88409;

// Menu
$active-menu: #e59543;