@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
/**
 * General
 */
body {
  margin: 0;
  padding: 0;
  background-color: #131b1f;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
body .container {
  margin: auto;
  max-width: 1200px;
}
body .flex {
  display: flex;
}
body .text-center {
  text-align: center;
}
body h2,
body h3 {
  color: #c88500;
}
body figure {
  margin: 0;
  padding: 0;
}
body figure.alignright img {
  float: right;
  margin-left: 20px;
}
body figure.alignleft img {
  float: left;
  margin-right: 20px;
}
body .hide {
  display: none;
}

.btn {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  min-width: 235px;
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  background: #eec214;
  background-image: linear-gradient(to right, #eec214, #f88409);
  transition: all 0.5s;
}
.btn:hover {
  background-image: linear-gradient(to right, #f88409, #eec214);
}

header {
  height: 60px;
}
header .flex {
  justify-content: space-between;
}
header .flex > div {
  width: 33.333%;
}
header .flex > div.logo {
  margin-top: 10px;
}
header .flex > div.logo img {
  display: inline-block;
  width: 100px;
  height: 41px;
}
header .flex > div.jackpot {
  min-width: 300px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}
header .flex > div.jackpot .ticket-counter {
  margin: auto;
  width: 293px;
  height: 55px;
  background: url("../img/counter-bg.png") no-repeat;
  font-size: 30px;
  color: #191919;
  font-weight: 900;
  text-align: left;
  position: relative;
  z-index: 10;
}
header .flex > div.jackpot .ticket-counter .progressive-jackpot-ticker {
  position: relative;
  left: 40px;
  top: 5px;
}

.menu {
  margin-top: 19px;
}
.menu .nav {
  z-index: 1000;
  position: fixed;
  overflow: auto;
  background-color: #151414;
  transition: all 0.5s;
}
.menu .nav.overlay {
  width: 300px;
  height: 100vh;
  top: 0;
  right: -300px;
}
.menu .nav.overlay.open-menu {
  right: 0;
}
.menu .nav ul {
  margin: 100px 0 0;
  padding: 0;
}
.menu .nav ul li {
  padding-left: 35px;
  list-style: none;
  line-height: 2;
  position: relative;
  transition: all 0.5s;
  margin-bottom: 10px;
}
.menu .nav ul li.active, .menu .nav ul li:hover {
  background-color: #181818;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}
.menu .nav ul li.active a, .menu .nav ul li:hover a {
  color: #e59543;
}
.menu .nav ul li.active:before, .menu .nav ul li:hover:before {
  opacity: 1;
}
.menu .nav ul li:before {
  opacity: 0;
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  left: 15px;
  top: 13px;
  background-color: #e59543;
  border-radius: 6px;
}
.menu .nav a {
  outline: none;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 15px;
  text-transform: uppercase;
  color: #bababa;
}
.menu .nav .close-menu {
  float: right;
  position: relative;
  right: 20px;
  top: -5px;
  text-transform: none;
  font-size: 12px;
  color: #636363;
}
.menu .nav .close-menu .icon-close {
  position: relative;
  right: 0;
  top: 10px;
  font-size: 40px;
}
.menu .toggle-menu {
  font-size: 22px;
  float: right;
}
.menu .toggle-menu img {
  display: inline-block;
  width: 26px;
  height: 22px;
}

@media (max-width: 600px) {
  .menu .nav.overlay {
    border-radius: 15px;
    opacity: 0;
    position: fixed;
    left: 0;
    top: -100vh;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
  }
  .menu .nav.overlay.open-menu {
    top: 0;
    display: block;
    opacity: 1;
  }
}
/**
 * Footer
 */
footer {
  margin-top: 100px;
  padding-bottom: 25px;
  background-color: #151515;
  text-align: center;
}
footer .logo {
  position: relative;
  bottom: 40px;
}
footer .logo img {
  width: 120px;
  height: 60px;
  display: inline-block;
}
footer .footer-icons {
  margin: 30px 0 80px 30px;
}
footer .footer-icons img {
  display: inline-block;
  margin: 0 15px;
}
footer .copy {
  color: #919191;
  font-size: 16px;
}

.hero {
  min-height: 740px;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
}
.hero h1 {
  padding-top: 220px;
  background: -webkit-linear-gradient(#fccd00, #9b4900, #faf710);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}
.hero p span {
  display: block;
  font-weight: bold;
  color: #cfcece;
}

.top-casino {
  margin-top: -140px;
}
.top-casino .container .flex {
  margin: 0 -8px;
}
.top-casino .container .flex .banner {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 500px;
  color: #000;
  max-width: 390px;
  padding: 260px 20px 20px;
  background-color: #fff;
  width: 33%;
  margin: 0 8px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.top-casino .container .flex .banner.top {
  position: relative;
  bottom: 50px;
  border: 4px solid #ec1e1a;
}
.top-casino .container .flex .banner.top .label {
  position: absolute;
  left: 50%;
  top: -29px;
  margin-left: -178px;
  width: 357px;
  height: 100px;
  background: url("../img/label-red.png") no-repeat;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 7px black;
  color: #fff;
  line-height: 90px;
}
.top-casino .container .flex .banner h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0;
}
.top-casino .container .flex .banner h3 span {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.top-casino .container .flex .banner ul {
  text-align: left;
  padding-left: 25px;
}
.top-casino .container .flex .banner ul li {
  line-height: 24px;
}
.top-casino .container .flex .banner .btn {
  height: 78px;
  line-height: 78px;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.top-casino .container .flex .banner .banking {
  display: flex;
  align-items: center;
  margin: 40px 0 10px;
}
.top-casino .container .flex .banner .banking span {
  margin-left: 10px;
}

.casino-overview .container {
  max-width: 800px;
  color: #cfcece;
}
.casino-overview .container h2 {
  font-size: 36px;
}
.casino-overview .container .full-width-banner {
  text-align: center;
}
.casino-overview .container .full-width-banner img {
  max-width: 100%;
}
.casino-overview .container .full-width-banner .casino-logo {
  margin-top: -30px;
  position: relative;
  top: 35px;
}
.casino-overview .container .full-width-banner .banner {
  border-radius: 8px;
}
.casino-overview .container .full-width-banner .btn {
  position: relative;
  bottom: 75px;
  margin-bottom: -75px;
}
.casino-overview .other-slots .container {
  max-width: 1200px;
  margin: auto;
}
.casino-overview .other-slots .container .banner-set {
  display: flex;
  margin: 0 -11px;
}
.casino-overview .other-slots .container .banner-set .banner {
  margin: 0 11px -60px;
  text-align: center;
}
.casino-overview .other-slots .container .banner-set .banner img {
  display: inline-block;
  border-radius: 10px;
}
.casino-overview .other-slots .container .banner-set .banner .content {
  position: relative;
  bottom: 110px;
}
.casino-overview .other-slots .container .banner-set .banner .content .name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
.casino-overview .other-slots .container .banner-set .banner .content .name sup {
  font-size: 8px;
}

/**
 * Text Block
 */
.text .container {
  max-width: 800px;
}

@media (max-width: 1250px) {
  body .container {
    padding: 0 20px;
  }

  .top-casino .container .flex {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .top-casino .container .flex .banner {
    width: 350px;
    margin: 0 auto 20px;
  }
  .top-casino .container .flex .banner.top {
    order: 1;
    bottom: 0;
  }

  .casino-overview .other-slots .container .banner-set {
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
  }
}
@media (max-width: 760px) {
  body .show-medium {
    display: block;
  }
  body .hide-medium {
    display: none;
  }
  body .hero {
    background-size: cover;
  }
  body figure {
    text-align: center;
  }
  body figure.alignright img, body figure.alignleft img {
    margin: 20px auto;
    float: none;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  body .show-small {
    display: block;
  }
  body .hide-small {
    display: none;
  }
  body .hero h1 {
    padding-top: 180px;
    font-size: 30px;
  }
  body img {
    max-width: 100%;
  }
  body .top-casino .container .flex .banner {
    padding-top: 300px;
    width: calc(100% - 50px);
    font-size: 14px;
  }
  body .top-casino .container .flex .banner h3 {
    font-size: 38px;
  }
  body .top-casino .container .flex .banner .subtitle {
    font-size: 18px;
    font-weight: 600;
  }
  body .top-casino .container .flex .banner .btn {
    font-size: 24px;
    height: 70px;
    line-height: 70px;
  }
  body .top-casino .container .flex .banner .banking {
    font-weight: 600;
  }
  body .top-casino .container .flex .banner.top .label {
    margin-left: -150px;
    width: 300px;
    background-size: contain;
    height: 84px;
    font-size: 16px;
    line-height: 80px;
    top: -25px;
  }

  .casino-overview .container h2 {
    font-size: 24px;
  }
  .casino-overview .container .full-width-banner .casino-logo {
    display: block;
    margin: auto;
  }
  .casino-overview .other-slots .container .banner-set .banner {
    margin: 0 0 -60px;
  }

  footer .footer-icons {
    margin: 0 0 60px;
  }
  footer .footer-icons img {
    display: block;
    margin: 15px auto;
  }
}
@media (max-width: 400px) {
  body .top-casino .container .flex .banner {
    padding-top: 250px;
  }
}
@media (max-width: 350px) {
  body .top-casino .container .flex .banner {
    padding-top: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
